
.tank-stack {
  --tank-component-top: 5%;
  --tank-component-width: 100%;
  --tank-transition: 0.3s;
  
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tank-hull-style,
.tank-turret-style,
.commander-sight-style,
.compass-style {
  position: absolute;
  top: var(--tank-component-top);
  
  width: var(--tank-component-width);
  height: auto;
  
  transform: translateX(-50%);
  transition: var(--tank-transition);
  
  pointer-events: none;
  user-select: none;
}