.rotation-boxes-container {
  --rotation-box-input-width: 70%;
  --rotation-box-input-height: 70%;
  --rotation-box-input-padding: 4% 5%;
  --rotation-box-input-font-size: 1rem;
  --rotation-box-button-height: 100%;
  --rotation-box-button-padding: 5% 5%;
  --rotation-box-gap: 2%;
  --rotation-boxes-container-gap: 12px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--rotation-boxes-container-gap);
  align-self: center;
  margin-left: auto;
  padding: 10% 3%;
  width: fit-content;
}

.rotation-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--rotation-box-gap);
}

.rotation-box-input {
  width: var(--rotation-box-input-width);
  height: var(--rotation-box-input-height);
  color: #222;
  padding: var(--rotation-box-input-padding);
  border: 100% solid #2ecc40;
  border-radius: 8%;
  font-size: var(--rotation-box-input-font-size);
  outline: none;
  background: #eaffea;
  transition: border 0.2s;
}

.rotation-box-input:focus {
  border-color: #ff851b;
}

.rotation-box-button {
  height: var(--rotation-box-button-height);
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: var(--rotation-box-button-padding);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 #ff851b33;
  transition: background 0.2s;
}

.rotation-box-button:last-child {
  background: #2ecc40;
  box-shadow: 0 2px 6px 0 #2ecc4033;
}