.rotation-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--rotation-box-gap);
}

.rotation-box-input {
  width: var(--rotation-box-input-width, 70%);
  height: var(--rotation-box-input-height, 70%);
  padding: var(--rotation-box-input-padding, 4% 5%);
  border: 100% solid var(--rotation-box-input-border, #2ecc40);
  border-radius: 8%;
  
  font-size: var(--rotation-box-input-font-size, 1rem);
  color: var(--rotation-box-input-text, #222);
  background: var(--rotation-box-input-bg, #eaffea);
  
  outline: none;
  transition: border 0.2s;
}

.rotation-box-input:focus {
  border-color: var(--rotation-box-input-border-focus, #ff851b);
}

.rotation-box-button {
  height: var(--rotation-box-button-height, 100%);
  padding: var(--rotation-box-button-padding, 5% 5%);
  border: none;
  border-radius: 0.9375rem;
  
  font-weight: 600;
  color: #fff;
  background: var(--rotation-box-set-color, #ff851b);
  
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(255, 133, 27, 0.2);
  transition: background 0.2s, box-shadow 0.2s;
}

.rotation-box-button:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 133, 27, 0.3);
}