.app-layout {
  display: flex;
  justify-content: space-between;
}

.pitch-roll-container {
  display: flex;
}

.main-tank-display-container {
  display: flex;
}

.input-controls-container {
  display: flex;
}
