:root {
  --base-font-size: 16px;
  --padding-base: 1.25rem; /* 20px */
  --app-bg: #f0f4f8;
  --text-color: #333;
}

html {
  font-size: var(--base-font-size);
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-bg);
  color: var(--text-color);
}

.app-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  gap: var(--padding-base);
}

.pitch-roll-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tank-container {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--padding-base);
}

.inputs-container {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
