

html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	background-color: #4B5320; /* army green */
	color: #f2f2f2; /* optional: light text for contrast */
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

