:root {
  --tank-component-top: 100px;
  --tank-component-width: min(120vw, 500px);
}
.tank-component-img {
  position: absolute;
  left: 50%;
  top: var(--tank-component-top);
  width: var(--tank-component-width);
  height: auto;
  z-index: 3;
  pointer-events: none;
  user-select: none;
  transition: transform 0.3s;
}