:root {
  --tank-component-top: clamp(100px, 10vh, 120px);
  --tank-component-width: clamp(230px, 60vw, 500px);
  --tank-transition: 0.8s;
}
.tank-stack {
  display: flex;
  position: relative;
  top: var(--tank-component-top);
  width: 100%;
  height: 40%;
}

/* to change to flex  */
.tank-component {
  position: absolute;
  width: var(--tank-component-width);
  height: auto;
  transition: transform var(--tank-transition);
  pointer-events: none;
  user-select: none;
  left: 50%;
  top: 50%;
}

.tank-hull-style {
  z-index: 0;
}

.tank-turret-style {
  z-index: 0;
}

.commander-sight-style {
  z-index: 0;
}

.compass-style {
  z-index: 0;
}